.container {
    width: 50%;
    position: absolute;
    top: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 25%;
    box-sizing: border-box;
    gap: 2rem ;
}